In [1]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_excel('dta.xlsx')

In [19]:
df

,Student ID,Date of birth,Place of birth,Type of ID,Place of issue,Department,Major,Graduation Year,Year,Semester for graduation,GPA,Grade,Type of certificate
0,101270471,1409/02/09,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,الإدارة المكتبية,1433,1433/1432,4323,2.17,مقبول,دبلوم
1,101271087,1404/11/20,الرياض,بطاقة أحوال,ثادق,التقنية الكهربائية,آلات ومعدات كهربائية,1433,1433/1432,4323,2.01,مقبول,دبلوم
2,101271377,1408/11/09,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,المحاسبة,1433,1433/1432,4323,2.16,مقبول,دبلوم
3,101272432,1408/05/05,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,المحاسبة,1433,1433/1432,4323,2.23,مقبول,دبلوم
4,101280420,1404/07/29,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,المحاسبة,1433,1433/1432,4323,2.28,مقبول,دبلوم
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24319,101239969,1401/07/01,الرياض,بطاقة أحوال,الرياض,التقنية الكهربائية,القوى الكهربائية,1425,1426/1425,4251,2.44,مقبول,دبلوم
24320,101239997,1403/01/18,الرياض,بطاقة أحوال,عنيزة,التقنية الإلكترونية,الكترونيات صناعية وتحكم,1425,1426/1425,4251,2.93,جيد,دبلوم
24321,101239999,1402/12/25,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,الإدارة المكتبية,1425,1426/1425,4251,2.62,مقبول,دبلوم
24322,101248199,1405/11/19,الطائف,بطاقة أحوال,الطائف,تقنية الحاسب,الدعم الفني,1425,1426/1425,4251,3.50,جيد,دبلوم
24323,101248201,1404/12/20,NaN,بطاقة أحوال,الرياض,التقنية الإلكترونية,الكترونيات صناعية وتحكم,1425,1426/1425,4251,2.66,مقبول,دبلوم

In [3]:
cols = ['Student ID', 'Date of birth', 'Place of birth', 'Type of ID',
       'Place of issue', 'Department', 'Major', 'Graduation Year', 'Year',
       'Semester for graduation', 'GPA', 'Grade', 'Type of certificate']
len(df.columns) == 13

True

In [4]:
start_year = []
for i in df['Student ID']:
    if str(i)[0] == '1':
        start_year.append(int(f'14{str(i)[3:5]}'))
    elif str(i)[0] == '4':
        start_year.append(int(f'14{str(i)[1:3]}'))

In [5]:
df['start_year'] = start_year

In [6]:
df['year_in_college'] = df['Graduation Year'] - df['start_year']

In [7]:
majors = [i for i in set(list(df['Major']))]

In [11]:
g_k = df.groupby('Major')
data = []
for major in majors:
    _2y = 0
    _3y = 0
    _4y = 0
    _5ym = 0
    for yoc in g_k.get_group(major)['year_in_college']:
        if yoc == 2:
            _2y += 1
        elif yoc == 3:
            _3y += 1
        elif yoc == 4:
            _4y += 1
        elif yoc >= 5:
            _5ym += 1
    # data.append({major : [_2y, _3y, _4y, _5ym]})
    data.append([major, _2y, _3y, _4y, _5ym])

In [29]:
nn = df[df['Graduation Year'] == 1433 ]

In [40]:
rows = []
elements = [i for i in set(list(dd['Department']))]
dd = df.groupby('Department')
for elm in elements:
    ll = [i for i in self.data.get_group(elm)['Graduation Year']]
    rows.append([elm, min(ll), int(sum(ll)/len(ll)), max(ll)])

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [39]:
dd

In [13]:
gk = nn.groupby('Major')

In [22]:
nn.loc[nn['Major'] == 'المحاسبة']['Graduation Year']

2       1433
3       1433
4       1433
9       1433
10      1433
        ...
4781    1433
4782    1433
4785    1433
4848    1433
4855    1433
Name: Graduation Year, Length: 245, dtype: int64

In [20]:
# Major  -  Department

In [24]:
df_group_by_major = df.groupby('Major')
df_group_by_department = df.groupby('Department')

In [27]:
df_group_by_major.get_group('المحاسبة')['Graduation Year']

2        1433
3        1433
4        1433
9        1433
10       1433
         ...
24295    1425
24296    1425
24297    1425
24299    1425
24315    1425
Name: Graduation Year, Length: 2433, dtype: int64