In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('dta.xlsx')

In [15]:
start_year = []
for i in df['Student ID']:
    if str(i)[0] == '1':
        start_year.append(int(f'14{str(i)[3:5]}'))
    elif str(i)[0] == '4':
        start_year.append(int(f'14{str(i)[1:3]}'))

In [16]:
df['start_year'] = start_year

In [19]:
df['year_in_college'] = df['Graduation Year'] - df['start_year']

In [85]:
majors = [i for i in set(list(df['Major']))]

In [86]:
df

,Student ID,Date of birth,Place of birth,Type of ID,Place of issue,Department,Major,Graduation Year,Year,Semester for graduation,GPA,Grade,Type of certificate,start_year,year_in_college
0,101270471,1409/02/09,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,الإدارة المكتبية,1433,1433/1432,4323,2.17,مقبول,دبلوم,1427,6
1,101271087,1404/11/20,الرياض,بطاقة أحوال,ثادق,التقنية الكهربائية,آلات ومعدات كهربائية,1433,1433/1432,4323,2.01,مقبول,دبلوم,1427,6
2,101271377,1408/11/09,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,المحاسبة,1433,1433/1432,4323,2.16,مقبول,دبلوم,1427,6
3,101272432,1408/05/05,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,المحاسبة,1433,1433/1432,4323,2.23,مقبول,دبلوم,1427,6
4,101280420,1404/07/29,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,المحاسبة,1433,1433/1432,4323,2.28,مقبول,دبلوم,1428,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24319,101239969,1401/07/01,الرياض,بطاقة أحوال,الرياض,التقنية الكهربائية,القوى الكهربائية,1425,1426/1425,4251,2.44,مقبول,دبلوم,1423,2
24320,101239997,1403/01/18,الرياض,بطاقة أحوال,عنيزة,التقنية الإلكترونية,الكترونيات صناعية وتحكم,1425,1426/1425,4251,2.93,جيد,دبلوم,1423,2
24321,101239999,1402/12/25,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,الإدارة المكتبية,1425,1426/1425,4251,2.62,مقبول,دبلوم,1423,2
24322,101248199,1405/11/19,الطائف,بطاقة أحوال,الطائف,تقنية الحاسب,الدعم الفني,1425,1426/1425,4251,3.50,جيد,دبلوم,1424,1
24323,101248201,1404/12/20,NaN,بطاقة أحوال,الرياض,التقنية الإلكترونية,الكترونيات صناعية وتحكم,1425,1426/1425,4251,2.66,مقبول,دبلوم,1424,1

In [35]:
gk = df.groupby('Major')

In [88]:
data = []
for major in majors:
    _2y = 0
    _3y = 0
    _4y = 0
    _5ym = 0
    for yoc in gk.get_group(major)['year_in_college']:
        if yoc == 2:_2y+=1
        elif yoc == 3:_3y+=1
        elif yoc == 4:_4y+=1
        elif yoc >= 5:_5ym+=1
    
    data.append([major, _2y, _3y, _4y, _5ym, gk.get_group(major)['Graduation Year'][]])

In [89]:
dt = pd.DataFrame()

[['القوى الكهربائية',
  262,
  827,
  248,
  84,
  5        1433
  27       1433
  28       1433
  32       1433
  33       1433
           ...
  24189    1425
  24190    1425
  24317    1425
  24318    1425
  24319    1425
  Name: Graduation Year, Length: 1466, dtype: int64],
 ['المحركات و المركبات',
  311,
  846,
  159,
  34,
  125      1433
  126      1433
  127      1433
  128      1433
  130      1433
           ...
  24156    1425
  24159    1425
  24160    1425
  24164    1425
  24316    1425
  Name: Graduation Year, Length: 1356, dtype: int64],
 ['انتاج كيميائي',
  192,
  587,
  163,
  35,
  53       1433
  197      1433
  198      1433
  199      1433
  204      1433
           ...
  24135    1425
  24136    1425
  24137    1425
  24138    1425
  24139    1425
  Name: Graduation Year, Length: 985, dtype: int64],
 ['التقنية المعمارية',
  103,
  354,
  116,
  38,
  13       1433
  34       1433
  35       1433
  82       1433
  83       1433
           ...
  23865    1440
  23866    1440
  23867    1440
  23868    1440
  23869    1440
  Name: Graduation Year, Length: 617, dtype: int64],
 ['التبريد و تكييف الهواء',
  119,
  390,
  108,
  13,
  60       1433
  137      1433
  304      1433
  578      1433
  579      1433
           ...
  24245    1425
  24246    1425
  24247    1425
  24248    1425
  24250    1425
  Name: Graduation Year, Length: 636, dtype: int64],
 ['آلات ومعدات كهربائية',
  78,
  494,
  211,
  60,
  1        1433
  6        1433
  29       1433
  56       1433
  116      1433
           ...
  24173    1425
  24174    1425
  24175    1425
  24176    1425
  24219    1425
  Name: Graduation Year, Length: 846, dtype: int64],
 ['الدعم الفني',
  487,
  1220,
  277,
  68,
  7        1433
  15       1433
  93       1433
  94       1433
  95       1433
           ...
  24310    1425
  24311    1425
  24312    1425
  24313    1425
  24322    1425
  Name: Graduation Year, Length: 2071, dtype: int64],
 ['الإدارة\xa0 المكتبية',
  816,
  2265,
  703,
  159,
  0        1433
  8        1433
  22       1433
  24       1433
  25       1433
           ...
  24268    1425
  24269    1425
  24270    1425
  24298    1425
  24321    1425
  Name: Graduation Year, Length: 3951, dtype: int64],
 ['الإدارة  المكتبية',
  45,
  13,
  5,
  0,
  1172    1424
  1174    1424
  1176    1424
  1177    1424
  1180    1424
          ...
  1439    1424
  1440    1424
  1442    1424
  1443    1424
  1449    1424
  Name: Graduation Year, Length: 63, dtype: int64],
 ['المحاسبة',
  307,
  1436,
  532,
  153,
  2        1433
  3        1433
  4        1433
  9        1433
  10       1433
           ...
  24295    1425
  24296    1425
  24297    1425
  24299    1425
  24315    1425
  Name: Graduation Year, Length: 2433, dtype: int64],
 ['كهربائي خطوط أرضية',
  58,
  9,
  1,
  0,
  528      1433
  540      1433
  548      1433
  550      1433
  551      1433
           ...
  19626    1430
  20144    1431
  20145    1431
  20146    1431
  20156    1431
  Name: Graduation Year, Length: 68, dtype: int64],
 ['سلامة الأغذية',
  107,
  64,
  15,
  1,
  20608    1438
  20609    1438
  20610    1438
  20611    1438
  20612    1438
           ...
  24027    1440
  24028    1440
  24029    1440
  24030    1440
  24031    1440
  Name: Graduation Year, Length: 188, dtype: int64],
 ['المختبرات الكيميائية',
  156,
  580,
  152,
  26,
  16       1433
  54       1433
  202      1433
  205      1433
  206      1433
           ...
  24123    1425
  24124    1425
  24125    1425
  24126    1425
  24244    1425
  Name: Graduation Year, Length: 916, dtype: int64],
 ['كهربائي توزيع',
  151,
  14,
  0,
  0,
  529      1433
  530      1433
  531      1433
  532      1433
  533      1433
           ...
  20152    1431
  20153    1431
  20154    1431
  20155    1431
  20157    1431
  Name: Graduation Year, Length: 165, dtype: int64],
 ['\xa0الأجهزة الطبية',
  134,
  552,
  136,
  21,
  17       1433
  31       1433
  58       1433
  59       1433
  63       1433
           ...
  23823    1440
  23824    1440
  23825    1440
  23826    1440
  23827    1440
  Name: Graduation Year, Length: 852, dtype: int64],
 ['تقنية المساحة',
  156,
  386,
  86,
  8,
  14       1433
  115      1433
  191      1433
  196      1433
  278      1433
           ...
  23883    1440
  23884    1440
  23885    1440
  23886    1440
  23887    1440
  Name: Graduation Year, Length: 673, dtype: int64],
 ['الإنتاج',
  455,
  930,
  242,
  57,
  102      1433
  119      1433
  120      1433
  121      1433
  122      1433
           ...
  24229    1425
  24253    1425
  24254    1425
  24255    1425
  24314    1425
  Name: Graduation Year, Length: 1735, dtype: int64],
 ['الكترونيات صناعية وتحكم',
  300,
  763,
  204,
  54,
  21       1433
  30       1433
  47       1433
  57       1433
  97       1433
           ...
  24243    1425
  24249    1425
  24252    1425
  24320    1425
  24323    1425
  Name: Graduation Year, Length: 1327, dtype: int64],
 ['التقنية المدنية',
  238,
  661,
  200,
  40,
  85       1433
  86       1433
  87       1433
  112      1433
  113      1433
           ...
  23837    1440
  23838    1440
  23839    1440
  23840    1440
  23841    1440
  Name: Graduation Year, Length: 1153, dtype: int64],
 ['التسويق',
  74,
  517,
  358,
  95,
  42       1433
  44       1433
  45       1433
  74       1433
  75       1433
           ...
  24301    1425
  24302    1425
  24303    1425
  24304    1425
  24305    1425
  Name: Graduation Year, Length: 1044, dtype: int64],
 ['حماية البيئة',
  186,
  601,
  135,
  28,
  12       1433
  65       1433
  219      1433
  220      1433
  221      1433
           ...
  23989    1440
  23990    1440
  23991    1440
  23992    1440
  23993    1440
  Name: Graduation Year, Length: 960, dtype: int64],
 ['سلامة الاغذية',
  54,
  537,
  130,
  29,
  19       1433
  20       1433
  48       1433
  49       1433
  50       1433
           ...
  20286    1431
  20287    1431
  20288    1431
  20289    1431
  20356    1431
  Name: Graduation Year, Length: 750, dtype: int64],
 ['كهربائي خطوط هوائية',
  58,
  11,
  0,
  0,
  541      1433
  542      1433
  543      1433
  544      1433
  547      1433
           ...
  20142    1431
  20143    1431
  20158    1431
  20159    1431
  20160    1431
  Name: Graduation Year, Length: 69, dtype: int64]]

In [83]:
ff = pd.DataFrame(data)

In [84]:
ff

                          0    1     2    3    4
0          القوى الكهربائية  262   827  248   84
1       المحركات و المركبات  311   846  159   34
2             انتاج كيميائي  192   587  163   35
3         التقنية المعمارية  103   354  116   38
4    التبريد و تكييف الهواء  119   390  108   13
5      آلات ومعدات كهربائية   78   494  211   60
6               الدعم الفني  487  1220  277   68
7         الإدارة  المكتبية  816  2265  703  159
8         الإدارة  المكتبية   45    13    5    0
9                  المحاسبة  307  1436  532  153
10       كهربائي خطوط أرضية   58     9    1    0
11            سلامة الأغذية  107    64   15    1
12     المختبرات الكيميائية  156   580  152   26
13            كهربائي توزيع  151    14    0    0
14           الأجهزة الطبية  134   552  136   21
15            تقنية المساحة  156   386   86    8
16                  الإنتاج  455   930  242   57
17  الكترونيات صناعية وتحكم  300   763  204   54
18          التقنية المدنية  238   661  200   40
19                  التسويق   74   517  358   95
20             حماية البيئة  186   601  135   28
21            سلامة الاغذية   54   537  130   29
22      كهربائي خطوط هوائية   58    11    0    0