In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('dta.xlsx')

In [15]:
start_year = []
for i in df['Student ID']:
    if str(i)[0] == '1':
        start_year.append(int(f'14{str(i)[3:5]}'))
    elif str(i)[0] == '4':
        start_year.append(int(f'14{str(i)[1:3]}'))

In [16]:
df['start_year'] = start_year

In [19]:
df['year_in_college'] = df['Graduation Year'] - df['start_year']

In [85]:
majors = [i for i in set(list(df['Major']))]

In [86]:
df

,Student ID,Date of birth,Place of birth,Type of ID,Place of issue,Department,Major,Graduation Year,Year,Semester for graduation,GPA,Grade,Type of certificate,start_year,year_in_college
0,101270471,1409/02/09,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,الإدارة المكتبية,1433,1433/1432,4323,2.17,مقبول,دبلوم,1427,6
1,101271087,1404/11/20,الرياض,بطاقة أحوال,ثادق,التقنية الكهربائية,آلات ومعدات كهربائية,1433,1433/1432,4323,2.01,مقبول,دبلوم,1427,6
2,101271377,1408/11/09,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,المحاسبة,1433,1433/1432,4323,2.16,مقبول,دبلوم,1427,6
3,101272432,1408/05/05,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,المحاسبة,1433,1433/1432,4323,2.23,مقبول,دبلوم,1427,6
4,101280420,1404/07/29,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,المحاسبة,1433,1433/1432,4323,2.28,مقبول,دبلوم,1428,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24319,101239969,1401/07/01,الرياض,بطاقة أحوال,الرياض,التقنية الكهربائية,القوى الكهربائية,1425,1426/1425,4251,2.44,مقبول,دبلوم,1423,2
24320,101239997,1403/01/18,الرياض,بطاقة أحوال,عنيزة,التقنية الإلكترونية,الكترونيات صناعية وتحكم,1425,1426/1425,4251,2.93,جيد,دبلوم,1423,2
24321,101239999,1402/12/25,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,الإدارة المكتبية,1425,1426/1425,4251,2.62,مقبول,دبلوم,1423,2
24322,101248199,1405/11/19,الطائف,بطاقة أحوال,الطائف,تقنية الحاسب,الدعم الفني,1425,1426/1425,4251,3.50,جيد,دبلوم,1424,1
24323,101248201,1404/12/20,NaN,بطاقة أحوال,الرياض,التقنية الإلكترونية,الكترونيات صناعية وتحكم,1425,1426/1425,4251,2.66,مقبول,دبلوم,1424,1

In [35]:
gk = df.groupby('Major')

In [88]:
data = []
for major in majors:
    _2y = 0
    _3y = 0
    _4y = 0
    _5ym = 0
    for yoc in gk.get_group(major)['year_in_college']:
        if yoc == 2:_2y+=1
        elif yoc == 3:_3y+=1
        elif yoc == 4:_4y+=1
        elif yoc >= 5:_5ym+=1
    
    data.append([major, _2y, _3y, _4y, _5ym, gk.get_group(major)['Graduation Year'][]])

In [83]:
ff = pd.DataFrame(data)

In [84]:
ff

                          0    1     2    3    4
0          القوى الكهربائية  262   827  248   84
1       المحركات و المركبات  311   846  159   34
2             انتاج كيميائي  192   587  163   35
3         التقنية المعمارية  103   354  116   38
4    التبريد و تكييف الهواء  119   390  108   13
5      آلات ومعدات كهربائية   78   494  211   60
6               الدعم الفني  487  1220  277   68
7         الإدارة  المكتبية  816  2265  703  159
8         الإدارة  المكتبية   45    13    5    0
9                  المحاسبة  307  1436  532  153
10       كهربائي خطوط أرضية   58     9    1    0
11            سلامة الأغذية  107    64   15    1
12     المختبرات الكيميائية  156   580  152   26
13            كهربائي توزيع  151    14    0    0
14           الأجهزة الطبية  134   552  136   21
15            تقنية المساحة  156   386   86    8
16                  الإنتاج  455   930  242   57
17  الكترونيات صناعية وتحكم  300   763  204   54
18          التقنية المدنية  238   661  200   40
19                  التسويق   74   517  358   95
20             حماية البيئة  186   601  135   28
21            سلامة الاغذية   54   537  130   29
22      كهربائي خطوط هوائية   58    11    0    0