In [1]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_excel('dta.xlsx')

In [33]:
df.iloc[0]['Student ID']

101270471

In [39]:
df.head()

,Student ID,Date of birth,Place of birth,Type of ID,Place of issue,Department,Major,Graduation Year,Year,Semester for graduation,GPA,Grade,Type of certificate,region
0,101270471,1409/02/09,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,الإدارة المكتبية,1433,1433/1432,4323,2.17,مقبول,دبلوم,
1,101271087,1404/11/20,الرياض,بطاقة أحوال,ثادق,التقنية الكهربائية,آلات ومعدات كهربائية,1433,1433/1432,4323,2.01,مقبول,دبلوم,
2,101271377,1408/11/09,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,المحاسبة,1433,1433/1432,4323,2.16,مقبول,دبلوم,
3,101272432,1408/05/05,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,المحاسبة,1433,1433/1432,4323,2.23,مقبول,دبلوم,
4,101280420,1404/07/29,الرياض,بطاقة أحوال,الرياض,التقنية الإدارية,المحاسبة,1433,1433/1432,4323,2.28,مقبول,دبلوم,

In [42]:
df[df['Place of issue'] == '']

Empty DataFrame
Columns: [Student ID, Date of birth, Place of birth, Type of ID, Place of issue, Department, Major, Graduation Year, Year, Semester for graduation, GPA, Grade, Type of certificate, region]
Index: []

In [28]:
df['region'] = ''

In [38]:
for row in range(len(df['Student ID'])):
    if df.iloc[row]['Place of issue'] in p1:
        df[row]['region'] = regions_[0]
    elif df.iloc[row]['Place of issue'] in p2:
        df[row]['region'] = regions_[1]
    elif df.iloc[row]['Place of issue'] in p3:
        df[row]['region'] = regions_[2]
    elif df.iloc[row]['Place of issue'] in p4:
        df[row]['region'] = regions_[3]
    elif df.iloc[row]['Place of issue'] in p5:
        df[row]['region'] = regions_[4]
    elif df.iloc[row]['Place of issue'] in p6:
        df[row]['region'] = regions_[5]
    elif df.iloc[row]['Place of issue'] in p7:
        df[row]['region'] = regions_[6]
    elif df.iloc[row]['Place of issue'] in p8:
        df[row]['region'] = regions_[7]
    elif df.iloc[row]['Place of issue'] in p9:
        df[row]['region'] = regions_[8]
    elif df.iloc[row]['Place of issue'] in p10:
        df[row]['region'] = regions_[9]
    elif df.iloc[row]['Place of issue'] in p11:
        df[row]['region'] = regions_[10]
    elif df.iloc[row]['Place of issue'] in p12:
        df[row]['region'] = regions_[11]
    elif df.iloc[row]['Place of issue'] in p13:
        df[row]['region'] = regions_[12]
    elif df.iloc[row]['Place of issue'] in p4:
        df[row]['region'] = regions_[13]
    else:
        df[row]['region'] = df.iloc[row]['Place of issue']

KeyError: 0

In [37]:
p1 = ['Riyadh', 'Thadiq','Shaqra','Al-Kharj','Huraymila','Az Zulfi','Al Duwadimi','Afif','Aflaj',
                    'As Sulayyil','Al Majmah','Howtat Bani Tamim','Al Quwaiiyah','Wadi Al-Dawasir','Rumah','Al Ghat',
                    'Hautat Sudair','Al Uyaynah','Al Artawiyah','Ar Rayn','Al Hariq','Dhurma','Al-Muzahmiya','Sajir',
                    'Ad Diriyah', 'الرياض','ثادق', 'شقراء', 'الخرج', 'حريملاء', 'الزلفي', 'الدوادمي', 'عفيف', 'الافلاج', 'السليل',
                    'المجمعة', 'حوطة بني تميم', 'القويعية', 'وادي الدواسر', 'رماح', 'الغاط', 'حوطه سدير', 'العيينة', 'الأرطاوية', 'الرين',
                    'الحريق', 'ضرماء', 'المزاحمية', 'ساجر', 'الدرعيه']

p2 = ['Taif', 'Ranyah', 'Makkah', 'Jeddah', 'Turbah', 'Al Qunfudhah', 'Al Khurma', 'Ardiya Al Janubia',
                     'الطائف',
                     'رنيه',
                     'مكة المكرمة',
                     'جدة',
                     'تربة',
                     'القنفذة',
                     'الخرمة',
                     'العرضية الجنوبية',
                     ]
p3 = [
                'Medinah',
                'Al Mahd',
                'Yanbu',
                'Al Henakiyah',
                'AlUla',
                'Khaybar',
                'Badr',
                'المدينة المنورة',
                'المهد',
                'ينبع',
                'الحناكية',
                'العلا',
                'خيبر',
                'بدر',

            ]
p4 = [
                'Al Bukayriyah',
                'Buraydah',
                'Unayzah',
                'Ar Rass',
                'Al Mithnab',
                'Al Badayea',
                'البكيرية',
                'بريدة',
                'عنيزة',
                'الرس',
                'المذنب',
                'البدائع'

            ]
p5 = [
                'Al Jubail',
                'Al Khobar',
                'Khafji',
                'Hafr Al - Batin',
                'Al Ahsa',
                'Dammam',
                'Nairyah',
                'Al Hofuf',
                'Qatif',
                'Dhahran',
                'Qaryat Al Ulya',
                'الجبيل',
                'الخبر',
                'الخفجي',
                'حفر الباطن',
                'الاحساء',
                'الدمام',
                'النعيريه', 'الهفوف', 'القطيف', 'قرية',

            ]
p6 = [
                'Al Namas',
                'Bisha',
                'Sarat Abidah',
                'Dhahran Al Janub',
                'Khamis Mushait',
                'Abha',
                'Mahayel Aseer',
                'Khamis Mushait',
                'Aseer',
                'Ahad Rafidah',
                'Balqarn',
                'Ragal Almaa',
                'Tathleeth',
                'النماص',
                'بيشه',
                'سراة عبيدة',
                'ظهران الجنوب',
                'خميس مشيط',
                'أبها',
                'محايل', 'عسير', 'خميس', 'مشيط', 'عسير', 'أحدرفيدة', 'بلقرن', 'رجال', 'المع', 'تثليث'

            ]
p7 = [
                'Haql',
                'Umluj',
                'Tabuk',
                'Duba',
                'Tayma',
                'Al Wajh',
                'حقل',
                'املج',
                'تبوك',
                'ضباء',
                'تيماء',
                'الوجه'

            ]
p8 = [
                'Hail',
                'Baqaa',
                'حائل',
                'بقعاء'

            ]
p9 = [
                'Rafha',
                'Arar',
                'Al Qurayyat',
                'Turaif',
                'رفحاء',
                'عرعر',
                'القريات',
                'طريف'

            ]
p10 = [
                'Sabya',
                'Fayfa',
                'Addayer',
                'Abu Arish',
                'Samtah',
                'Farasan',
                'Jazan',
                'صبيا',
                'فيفا',
                'الداير', 'أبو عريش',
                'صامطه',
                'فرسان',
                'جيزان'

            ]
p11 = [
                'Najran',
                'Sharorah',
                'نجران',
                'شروره'

            ]
p12 = [
                'Almandaq',
                'Al Bahah',
                'Baljurashi',
                'المندق',
                'الباحة',
                'بلجرشي'

            ]
p13 = [
                'Dumah Al Jandal',
                'Tubarjal',
                'Al Jouf',
                'دومة الجندل',
                'طبرجل',
                'الجوف'

            ]
p14 = [
                'Sana',
                'Kuwait',
                'Muscat',
                'صنعاء',
                'الكويت',
                'مسقط'

            ]
regions_ = ['منطقة الرياض', 'منطقة مكة المكرمة', 'المدينة المنورة', 'منطقة القصيم', 'الشرقية', 'منطقة عسير', 'منطقة تبوك', 'حائل', 'منطقة الحدود الشمالية', 'جازان', 'منطقة نجران',
                        'منطقة الباحة', 'منطقة الجوف', 'طلاب دوليين'
            ]

In [10]:
df = df[df['Date of birth'] != '//']

In [11]:
df['b_year'] = df['Date of birth'].str.split('/',expand=True)[0]

In [50]:
#df.loc[df['b_year'] == '', 'b_year'] = df['Graduation Year']

In [12]:
df['b_year'] = pd.to_numeric(df['b_year'], errors='coerce')

In [13]:
df['age'] = df['Graduation Year'] - df['b_year']

In [116]:
# df.loc[(df['age'] == 0.0) | (df['age'] == 'nan') | (df['age'] == 'NaN'), 'age'] = 20

In [124]:
jj = df.groupby('Major')

In [18]:
df['age'] = df['age'].fillna(0)

In [ ]:
df = df[df['ge'] != '//']

In [19]:
v = [i for i in df['age']]
sum(v)/len(v)

19.93050701097907

In [3]:
cols = ['Student ID', 'Date of birth', 'Place of birth', 'Type of ID',
       'Place of issue', 'Department', 'Major', 'Graduation Year', 'Year',
       'Semester for graduation', 'GPA', 'Grade', 'Type of certificate']
len(df.columns) == 13

True

In [4]:
start_year = []
for i in df['Student ID']:
    if str(i)[0] == '1':
        start_year.append(int(f'14{str(i)[3:5]}'))
    elif str(i)[0] == '4':
        start_year.append(int(f'14{str(i)[1:3]}'))

In [5]:
df['start_year'] = start_year

In [6]:
df['year_in_college'] = df['Graduation Year'] - df['start_year']

In [7]:
majors = [i for i in set(list(df['Major']))]

In [11]:
g_k = df.groupby('Major')
data = []
for major in majors:
    _2y = 0
    _3y = 0
    _4y = 0
    _5ym = 0
    for yoc in g_k.get_group(major)['year_in_college']:
        if yoc == 2:
            _2y += 1
        elif yoc == 3:
            _3y += 1
        elif yoc == 4:
            _4y += 1
        elif yoc >= 5:
            _5ym += 1
    # data.append({major : [_2y, _3y, _4y, _5ym]})
    data.append([major, _2y, _3y, _4y, _5ym])

In [29]:
nn = df[df['Graduation Year'] == 1433 ]

In [40]:
rows = []
elements = [i for i in set(list(dd['Department']))]
dd = df.groupby('Department')
for elm in elements:
    ll = [i for i in self.data.get_group(elm)['Graduation Year']]
    rows.append([elm, min(ll), int(sum(ll)/len(ll)), max(ll)])

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [39]:
dd

In [13]:
gk = nn.groupby('Major')

In [22]:
nn.loc[nn['Major'] == 'المحاسبة']['Graduation Year']

2       1433
3       1433
4       1433
9       1433
10      1433
        ...
4781    1433
4782    1433
4785    1433
4848    1433
4855    1433
Name: Graduation Year, Length: 245, dtype: int64

In [20]:
# Major  -  Department

In [24]:
df_group_by_major = df.groupby('Major')
df_group_by_department = df.groupby('Department')

In [27]:
df_group_by_major.get_group('المحاسبة')['Graduation Year']

2        1433
3        1433
4        1433
9        1433
10       1433
         ...
24295    1425
24296    1425
24297    1425
24299    1425
24315    1425
Name: Graduation Year, Length: 2433, dtype: int64